@charset "utf-8";
/* CSS Document */

body{
	background-color: 000022;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding:0px;

    align-content:right;
    /*font-family: Verdana, Arial;*/
        font-family:Open Sans;

	/*moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;*/
}

p {
	color:#ededed;
}

h1 {
	font-weight: bold;
	color: white;
	font-size: 500%;
	float: center;
	text-align: center;
}

h4 {
	font-size: 70%;
	font-family: 'Calibri', sans-serif, bold, Arial;
	color:rgb(127, 127, 127);
	position:absolute;
	left: 0;
	bottom: 0;
	padding-left: 25%;

	background-color: 110011;
}

h1 p {
	font-size: 20%;
	color:#ededed;
}

h1 a:hover {
	color: rgb(255, 255, 255);
	opacity: 0.7;
}

h1 a img {
	/*width: 3.74%;*/
	opacity: 1;
	height: 5.5%;
	margin-right: 2%;
	margin-left: 2%;
}

#TextContent {
	font-family: 'Raleway', sans-serif;
	color:white;
	width: 85%;
	padding-left: 15%;
	margin-top: 20%;
	height: 100%;

	font-weight: bold;
	font-size: 100%;

	position: fixed;
	z-index: 1;
}

#UpperContainer {
	width: 100%;
	height: 100%;
	z-index: -1;
	position: fixed;
}

#ScriptInHeader {
	width: 85%;
	height: 100%;
	float: right;
}


#TopMenuBar {
	width: 15%;
	height: 95%;
	background-color:white;
	float: top;
	position: fixed;
	padding-top: 10%;

	z-index: 2;

	/*font-weight: 900;*/
	font-weight: bold;
	font-size: 100%;
}


ul { 
	text-align: right;
	padding-right: 10%;
}

a {
	list-style:none;
	text-decoration:none;
	color: white;
}
a ul {
	padding-top: 10%;
	padding-bottom: 10%;
	background-color:white;
	color:rgb(127, 127, 127);

	font-size: 85%;
}
a ul:hover {
	color:#ededed;
	background-color:rgba(80, 20, 80, 1.0);  
}
a:visited {
	color: white;
}
a ul:active {
	color:#ededed;
	background-color:000022;
}